.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* background-color: #ff00005e; */
    background-image: linear-gradient(#ff00004b, #00000028);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.material-theme {
    /* Material Design-inspired styles */
    background-color: #f5f5f51c;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.app-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.app-logo img {
    height: 100%;
    padding: 0 0.5rem;
    filter: drop-shadow(2px 2px 2px rgb(255, 255, 255));
}

.app-logo p {
    font-size: x-large;
    font-weight: bolder;
    padding: 0.2rem 0rem;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.274);
}

.al-text-red {
    color: red;
}

.al-text-shield {
    color: #ffffff;
}

.nav-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
    padding: 0.5rem 1rem;
    width: max-content;
}

.no-opts{
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    font-size: 1.2rem;
    text-decoration: none;
}

.no-opts:hover {
    color: #ff0000;
    text-shadow: 0px 0px 1px rgba(255, 0, 0, 0.5),
                0px 0px 5px rgba(255, 166, 0, 0.625);
    transform: scale(1.2);
}